$black-color: #222222;
$black-dark-color: #000;

$red-color: #dc3545;

$green-color: #20c997;

$purple-color: #9747ff;
$purple-light-color: #e2d4f8;
$purple-color-hover: #7c1cfa;

$white-color: #ffffff;
$white-light-color: #ffffff60;

$grey-color: #f3f4f5;
$grey-dark-color: #86929e;
$grey-light-color: #d9d9d9;

$transition-variable: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);

$modal-bg: #222222;
