$black-color: #222222;
$black-dark-color: #000;

$red-color: #dc3545;

$green-color: #20c997;

$purple-color: #29cdff;
$purple-light-color: #7cdaf7;
$purple-color-hover: #05aadc;

$white-color: #ffffff;
$white-light-color: #ffffff60;

$grey-color: #f3f4f5;
$grey-dark-color: #323232;
$grey-light-color: #6b6969;

$transition-variable: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);

$modal-bg: #222222;
